config OPTICAL_BH1721
         tristate "Rohm bh1721 Optical Sensor"
         depends on I2C
         default n

config OPTICAL_AL3201
         tristate "Rohm al3201 Optical Sensor"
         depends on I2C
         default n

config OPTICAL_GP2AP020A00F
	depends on I2C
	bool "Sharp GP2AP020A00F driver"
	default n
